.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #1e1e2f;
    color: #fff;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #f1f1f1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    gap: 10px;
    text-align: left;
}

.sidebar li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.sidebar li:hover {
    background-color: #2e2e4d;
}

.sidebar li i {
    font-size: 16px;
}

.sidebar li.active-link {
    background-color: #4caf50;
    font-weight: bold;
}

.dropdown-parent {
    position: relative;
    justify-content: space-between;
}

.dropdown-arrow {
    margin-left: auto;
}

.dropdown-children {
    list-style: none;
    padding-left: 30px;
    margin-left: 15px;
    border-radius: 6px;
    padding: 6px 0;
}

.dropdown-children li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-align: left;
    padding: 10px 15px 10px 25px;
    margin: 4px 0;
    font-size: 16px;
}